@font-face {
    font-family: "Cormorant-Bold";
    src: url("./fonts/Cormorant/Cormorant-Bold.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant-Regular";
    src: url("./fonts/Cormorant/Cormorant-Regular.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Medium";
    src: url("./fonts/Inter/Inter-Medium.ttf");
    font-style: normal;
    font-display: swap;
}

html {
    overflow-x: hidden;
}

.nav-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    padding: 17px 40px;
    font-family: 'Cormorant-Bold';
}

.nav-item {
    flex: 1;
}

.nav-text {
    text-decoration: none;
    color: #264B52;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}

.left-nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.centered-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background{
    background-color: #E8E6E1;
    background-size: cover;
}