@font-face {
    font-family: "Cormorant-Bold";
    src: url("./fonts/Cormorant/Cormorant-Bold.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant-Regular";
    src: url("./fonts/Cormorant/Cormorant-Regular.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Medium";
    src: url("./fonts/Inter/Inter-Medium.ttf");
    font-style: normal;
    font-display: swap;
}

html {
    overflow-x: hidden;
}
.container{
    background-color: #E8E6E1;
    height: 1080px;
}

.nav-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    padding: 17px 40px;
    font-family: 'Cormorant-Bold';
}

.nav-item {
    flex: 1;
}

.nav-text {
    text-decoration: none;
    color: #264B52;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}

.left-nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.centered-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background{
    background-color: #E8E6E1;
    background-size: cover;
}
.first-main-section{
    display: flex;
    justify-content: start;
    margin-left: 50px;
    margin-top: 60px;
}
.text-main-first{
    margin-left: 20px;
    margin-top: 52px;
    color: #264B52;
}
.first-section-main-text{
    
    font-weight: 700;
    font-family: 'Cormorant-Bold';
    font-size: 32px;
}
.first-section-desc-text{
     
    font-weight: 500;
    font-size: 20px;
    margin-top: 45px;

}
.first-section-price-text{
    
    font-weight: 500;
    font-size: 24px;
    margin-top: 65px;
}
.first-section-availability-text{
     
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
}

.first-section-basket-text{
    color: #F1EEE9;
    margin-top: 37px;
    background-color: #264B52;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
}
.cont{
    display: inline-table;
    
}
.img-izbr{
    margin-left: 15px;
    
}

    



.second-main-section{
    display: flex;
    justify-content: start;
    margin-left: 50px;
    margin-top: 40px;
}
.subsection-img-subsection-img-3{
    margin-left: 16px;
}
.text-main-second{
    margin-left: 20px;
    margin-bottom: 50px;
}
.second-section-main-text{
    color: #264B52; 

}
.second-section-main-text{
    text-decoration: underline;
    
    font-size: 18px;
}
.second-section-desc-text{
    margin-top: 20px;
    font-weight: 500;
    font-size: 21px;
    color: #264B52;
}


footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 75px;
    background-color: #264B52;
    background-image: url("./images/stars.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: auto;
}

.footer-header {
    color: #F1EEE9;
    font-size: 1.5em;
    font-family: "Cormorant-Bold";
    margin-top: 75px;
}

.footer-text{
    color: #F1EEE9;
    font-size: 1em;
    font-family: "Montserrat-Medium";
    margin-top: 35px;
}

