@font-face {
    font-family: "Cormorant-Bold";
    src: url("./fonts/Cormorant-Bold.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant-Regular";
    src: url("./fonts/Cormorant-Regular.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("./fonts/Montserrat-Medium.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "helveticaneuecyr_black";
    src: url("./fonts/helveticaneuecyr_roman.otf");
    font-style: normal;
    font-display: swap;
}

.body {
    margin: 0;
    font-family: "Cormorant-Regular";
}

.container{
    margin: 23px 639px;
}

.header{
    background-color: #E8E6E1;
    height: 100vh;
    background-size: cover;

}

.header-line{
    display: flex;
}

.nav-item{
    display: inline;
    color: #264B52;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.header-title{
    font-family: "helveticaneuecyr_black";
    font-size: 25px;
    font-weight: 700;
    color: #264B52;
    text-align: center;
}

.header-capacity{
    font-size: 20px;
    color: #264B52;
    font-family: "Montserrat-Medium";
}

.header-availability{
    font-size: 16px;
    color: #264B52;
}

.title-desc{
    text-decoration: underline;
}

.Крем{
    width: 440px;
    height: 425px;
}

.Темныйкрем{
    width: 210px;
    height: 210px;
}

.бутылка{
    width: 210px;
    height: 210px;
}

.stars-img {
    background-color: #264B52;
    background-image: url("./images/stars.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.15;
    width: 100vw;
    height: auto;
}

